/*
  Young Notes audio Style Sheet
  
  Author: Ken Copes
  Date: 7/26/2021
  Filename:  astyles.css
  Supporting Files:
  
*/

/* Audio styles */
audio, object, embed {
	display: block;
	margin: 15px auto;
}

  
  